<nz-table #dynamicTable [nzData]="dataSet">
    <thead>
      <tr >
        <th class="font-weight" *ngFor="let column of columns" [nzShowSort]="column.sortAccess" [nzSortFn]="true"	[nzShowFilter]="column.filterAccess" [nzFilterMultiple]="true" >{{ column.name }}</th>
        <th  class="font-weight" nzColumnKey="status" [nzFilters]="filterAccess" [nzFilterFn]="true">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSet">
        <ng-container *ngFor="let field of tableFields">
          <td>{{ data[field] }}</td>
        </ng-container>
        <td><nz-switch [(ngModel)]="data.status" nzCheckedChildren="Active" nzUnCheckedChildren="InActive"></nz-switch> </td>
        <td class="font-weight dot-allign">...</td>
      </tr>
    </tbody>
  </nz-table>
 